.form {
  padding: 20px;
  margin: 20px;
  width: 600px;
}

.form-field {
  position: relative;
  margin-bottom: 20px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);

  transition: transform 250ms linear;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  padding-left: 40px;
  font: inherit;
  border-radius: 3px;
  border: 1px solid #2a2a2a;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: tomato;
  transform: translateY(-50px);
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;

  transform: translateY(-50%);

  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: tomato;
}

.form-input:focus ~ .icon {
  background-color: blue;
}
