.product {
  width: 370px;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.product:hover .product-actions {
  opacity: 1;
}

.product-thumb:hover::before {
  opacity: 1;
}

.product-thumb {
  position: relative;
}

.product-thumb::before {
  display: inline-block;
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5);

  opacity: 0;
}

.product-meta {
  padding: 15px;
}

.product-name {
  margin-top: 0;
  margin-bottom: 10px;
}

.product-price {
  margin-top: 0;
  margin-bottom: 0;
}

.product-actions {
  outline: 3px solid orange;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;

  /* Opacity анимируемое свойство, используйте вместо diplay none */
  opacity: 0;
}

.product-actions .icon {
  width: 32px;
  height: 32px;
}

.box-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: red;
}

.box-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-color: green;
}
