.actions {
  display: flex;
  padding: 0;
  margin: 0;
  outline: 1px solid black;
  list-style: none;
}

.button {
  padding: 0;
  border: none;
  width: 100px;
  height: 100px;
  color: #2a2a2a;
  border-radius: 50%;
  background-color: teal;
}

.button:hover {
  color: #fff;
}

.button-icon {
  fill: currentColor;
}

.test-icon {
  width: 100px;
  height: 100px;
  outline: 1px solid black;

  background-image: url("../images/bg-strite.svg#qwe");
  background-size: cover;
  background-size: no-repeat;
}
