.menu {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 10px;
}

.menu-link {
  outline: 1px solid black;

  position: relative;

  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: currentColor;
}

.menu-link::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 5px;
  background-color: red;

  opacity: 0;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}
