li {
  margin-bottom: 10px;
}

.field {
  display: flex;
  align-items: center;
  /* outline: 1px solid black; */
}

.checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;

  border: 2px solid #2a2a2a;
  border-radius: 4px;

  transition: transform 250ms linear;
}

.checkbox:checked + .icon {
  transform: scale(1.2);
  border-color: transparent;
  background-color: orange;
  background-image: url('../img/full-check.svg');
  background-size: contain;
  background-origin: border-box;
}

.label {
  transition: transform 250ms linear;
}

.checkbox:checked ~ .label {
  transform: translateX(20px);
}
