.product {
  width: 370px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.product-thumb:hover::before {
  opacity: 1;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.7);

  transform: translateX(-100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product:hover .product-overlay {
  transform: translateX(0);
  opacity: 1;
}

.product-meta {
  padding: 15px;
}

.product-name {
  margin-top: 0;
  margin-bottom: 10px;
}

.product-price {
  margin-top: 0;
  margin-bottom: 0;
}

.product-actions {
  outline: 3px solid orange;
  position: absolute;
  display: flex;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Opacity анимируемое свойство, используйте вместо diplay none */
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.product:hover .product-actions {
  opacity: 1;
}

.product-actions .icon {
  width: 32px;
  height: 32px;
}
