.scene {
  width: 300px;
  height: 300px;
  border: 3px solid #1976d2;

  perspective: 600px;
}

.box {
  height: 100%;
  background-color: #e91e63;
  background-image: url('../images/smile.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transform: rotateY(0);

  transition: transform 500ms linear;
}

.scene:hover .box {
  transform: rotateY(180deg);
}
