:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.logo {
  color: var(--title-text-color);
}

.logo:hover {
  color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--title-text-color);
}
