/* цвет основного текста #000000 */
/* вторичный цвет текста  rgba(0, 0, 0, 0.8);
 */
/* белый #FFFFFF  */
/* акцент #18A0FB */
/* вторичный цвет фона #F5F5F5; */

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Montserrat, sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
}

/* Logo */

.logo {
  color: var(--title-text-color);
  font-family: Comfortaa, cursive;

  font-size: 28px;
  line-height: 1.14;
  text-decoration: none;
}

.logo:hover {
  color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
  color: var(--accent-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--title-text-color);
}

.list {
  list-style: none;
}

/* Hero */

.hero-title {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
  text-align: center;
}

/* Section */

.section-title {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}

.section-description {
  font-size: 36px;
  line-height: 1.39;
}

/* Features и Examples */

.feature-list .title,
.work-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

/* Button */

.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}
