.features-set, .reviews-set {
  padding: 0;
  margin: 0;
  list-style: none;
}

.company-logo {
  text-decoration: none;
  color: currentColor;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  color: #2a2a2a;
  background-color: #fff;
  line-height: 1.3;
}

body.modal-open {
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}

.page-header {
  position: relative;
  border-bottom: 2px solid black;
}

.page-header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}

.company-logo {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  background-color: #03a9f4;
  color: #fff;
}

.company-logo:hover, .company-logo:focus {
  background-color: red;
}

.section {
  padding-top: 24px;
  padding-bottom: 24px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .features-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -5px;
  }
}

@media screen and (min-width: 1140px) {
  .features-set {
    margin: -10px;
  }
}

.features-item {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 4 * 5px) / 2);
    margin: 5px;
  }
}

@media screen and (min-width: 1140px) {
  .features-item {
    width: calc((100% - 6 * 10px) / 3);
    margin: 10px;
  }
}

@media screen and (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.features-item:nth-child(1) {
  background-color: #F44336;
}

.features-item:nth-child(2) {
  background-color: #3F51B5;
}

.features-item:nth-child(3) {
  background-color: #4CAF50;
}

.features-item:nth-child(4) {
  background-color: #00BCD4;
}

.features-item:nth-child(5) {
  background-color: #E91E63;
}

.features-item:nth-child(6) {
  background-color: #009688;
}

@media screen and (max-width: 767px) {
  .reviews {
    display: none;
  }
}

.reviews-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-item {
  text-align: center;
  padding: 40px;
  color: #fff;
  font-size: 48px;
  width: 33.3333%;
}

@media screen and (min-width: 1140px) {
  .reviews-item {
    font-size: 64px;
  }
}

.reviews-item:nth-child(1) {
  background-color: #795548;
}

.reviews-item:nth-child(2) {
  background-color: #607D8B;
}

.reviews-item:nth-child(3) {
  background-color: #7B1FA2;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px 30px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  display: none;
}

.modal {
  padding: 20px;
  background-color: #fff;
}

@media (min-width: 600px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: palegoldenrod;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.navigation,
.contacts {
  height: 50px;
  width: 140px;
}

.navigation {
  outline: 1px solid teal;
}

.contacts {
  outline: 1px solid orange;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu .content {
  height: 100%;
  background-color: #fff;
  width: 70%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 250ms linear 250ms;
  transition: -webkit-transform 250ms linear 250ms;
  transition: transform 250ms linear 250ms;
  transition: transform 250ms linear 250ms, -webkit-transform 250ms linear 250ms;
}

.mobile-menu.is-open .content {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=main.css.map */