/* цвет основного текста #000000 */
/* вторичный цвет текста  rgba(0, 0, 0, 0.8); */
/* белый #FFFFFF  */
/* акцент #18A0FB */
/* вторичный цвет фона #F5F5F5; */

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f5f5;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Montserrat, sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
}

/* Утиилиты */

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid tomato;
}

/* Logo */

.logo {
  color: var(--title-text-color);
  font-family: Comfortaa, cursive;

  font-size: 28px;
  line-height: 1.14;
  text-decoration: none;
}

.logo:hover {
  color: var(--accent-color);
}

/* Page header */

.page-header {
}

/* Main nav */

.main-nav {
  display: flex;
  align-items: center;
}

/* Site nav */
.site-nav {
  display: flex;
  margin-left: 70px;
}

.site-nav .item {
  /* background-color: tomato; */
}

.site-nav .item + .item {
  margin-left: 40px;
}

/* .site-nav .item:not(:last-child) {
  margin-right: 40px;
} */

.site-nav .link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;

  color: var(--accent-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--title-text-color);
}

/* Auth nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 12px;
}

/* Hero */

.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 40px;

  color: var(--title-text-color);
  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
}

/* Section */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 60px;

  color: var(--title-text-color);

  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
}

.section-title.centered,
.section-description.centered {
  text-align: center;
}

.section-description {
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 36px;
  line-height: 1.39;
}

/* Features и Examples */

.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin: -40px -75px;
}

.feature-list .item {
  width: 625px;
  margin: 40px 75px;
}

.feature-list .title,
.work-list .title {
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

/* Works */

.work-list > .item {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--primary-white-color);
}

.work-list > .item:nth-child(2n) {
  flex-direction: row-reverse;
  background-color: var(--secondary-bg-color);
}

.feature-list p {
  margin-top: 0;
  margin-bottom: 32px;
}

.work-list > .item:nth-child(2n + 1) > .content {
  margin-left: 84px;
}

.work-list > .item:nth-child(2n) > .content {
  margin-right: 84px;
}

/* Clients */

.client-list {
  display: flex;
  flex-wrap: wrap;
  width: 1020px;
  margin: -30px -40px;
  margin-left: auto;
  margin-right: auto;
}

.client-list li {
  margin: 30px 40px;
}
/* Button */

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 11px 34px;
  min-width: 130px;

  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  border-color: var(--accent-color);

  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

/* Footer */

.copyright {
  font-size: 15px;
  line-height: 1.6;
}

.social > .label {
  font-size: 15px;
  line-height: 1.6;
}

.test-container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: teal;
  margin: -15px;
}

.flex-element {
  width: 380px;
  margin: 15px;

  /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке */
  /* width: calc((100% - 60px) / 3); */
  /* margin-right: 30px; */
  /* margin-bottom: 30px; */

  background-color: tomato;

  /* margin-right: 30px;
  margin-bottom: 30px; */
}

/* .flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

/* .flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

/* Альтернатива */
/* .flex-element:not(:nth-child(3n)) {
  margin-right: 30px;
} */

/* .flex-element:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */
