.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu .content {
  height: 100%;
  background-color: #fff;
  width: 70%;

  transform: translateX(-100%);

  transition: transform 250ms linear 250ms;
}

.mobile-menu.is-open .content {
  transform: translateX(0);
}
