.page-header {
  position: relative;

  border-bottom: 2px solid black;
}

.page-header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  height: 400px;

  background-color: palegoldenrod;
  padding: 20px;
  text-align: center;
  font-size: 20px;

  &.is-open {
    display: block;
  }
}

// .menu-button {
// display: inline-flex;
// margin: 0;
// padding: 0;
// border: none;
// background-color: transparent;

//   .icon-menu,
//   &.is-open .icon-cross {
//     display: block;
//   }

//   .icon-cross,
//   &.is-open .icon-menu {
//     display: none;
//   }
// }
